[Unit]
Description=Magick Joystick Service
Requires=hciuart.service bluetooth.service
After=hciuart.service bluetooth.service

[Service]
Restart=always
WorkingDirectory=@PWD@
ExecStart=bash start_magick_joystick.sh
ExecStop=supervisorctl shutdown

[Install]
WantedBy=multi-user.target
