Adafruit-ADS1x15
Adafruit-SSD1306 
ads1015
construct==2.10.63
dbus-python
Flask
Flask-RESTful
paho-mqtt==1.6.0
pgi
pybluez
RPi.GPIO
setuptools
smbus
spidev
wheel
supervisor
readchar
jsonpickle
Adafruit-Blinka==8.0.2
adafruit-circuitpython-busdevice==5.1.10
adafruit-circuitpython-mlx90393==2.0.12
adafruit-circuitpython-typing==1.7.1
Adafruit-PlatformDetect==3.24.1
Adafruit-PureIO==1.1.9
pyftdi==0.54.0
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.1
sysv-ipc==1.1.0
