.no {
    background-color: #FF0000;
}

.to_check {
    background-color: #ff8800;
}

#last_command_id {
    height: 25vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}