.bargraph {
    display: inline-block;
    width: 15%;
    height: 25%;
    border: white solid 2px;
    background-color: transparent;
    top: 35%;
    box-sizing: border-box;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
}


#light_1.on, #light_2.on, #power.on{
    color: #00FF00;
}

#light_3.on, #light_5.on {
    color: #FF6600;
}

#light_4.on {
    color: #FFFF00;
}


#lvl1.on {
    background-color: #00FF00;
}

#lvl2.on {
    background-color: #88FF00;
}

#lvl3.on {
    background-color: #FFFF00;
}

#lvl4.on {
    background-color: #FF8800;
}

#lvl5.on {
    background-color: #FF0000;
}