:root {
    --header-height: 10vh; /* 10% de la hauteur pour le header */
    --border-width: 10px;
    --icon-size: min(18vmin, 100px);
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#222;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    color: #EEE;
    height:100vh;
    width:100vw;
    margin:0px;
}

.header {
    width: 100%;
    height: var(--header-height);
}

#time, #battery {
    color: white;
    font-size: calc(var(--header-height)/2);
    line-height: calc(var(--header-height)/2);
    position: absolute;
}

.working > div {
    text-align: center;
    display: inline-table;
    box-sizing: border-box;
    border: transparent solid 2px;
    height: 100%;
    width: 10vw;
}

.working {
    top : calc(var(--header-height)/2);
    width: 100%;
    height: calc(var(--header-height)/2);
    position: absolute;
    font-size: calc(0.65*var(--header-height)/2);
    display: flex;
    justify-content: center;
}

#time {
    left: 10px;
}

#battery {
    right: 10px;
}

div.body {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: calc(100% - var(--header-height));
    box-sizing: border-box;
    border: transparent solid var(--border-width);
    font-size: 0px;
}

div.body > div {
    width: 100%;
    height: 95%;
}

div.body > div > div {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: transparent solid var(--border-width); 

    width: 50%;
    height: 90%;
}

div.body > div > div > i {
    position: relative;
    font-size: var(--icon-size);
    top: 50%;
    margin-top: calc(var(--icon-size) / -2)
}

.spacer {
    color: transparent;
}

div.body.main > div {
    height: calc(100% / 5);
}

div.body.main > div > div {
    width: 100%;
}

div.body.wheelchair > div {
    height: calc(100% / 5);
}

div.body.actuator > div {
    height: calc(100% / 7);
}

div.body.IR > div {
    height: calc(100% / 4);
}

div.body.IR > div > div {
    width: 100%;
}

div.body.TV > div {
    height: calc(100% / 8);
}

div.body.TV > div > div {
    width: calc(100%/4);
}

div.body.light > div {
    height: calc(100% / 4);
}

#IR {
    background-image: url("svg_icon/IR.svg");
}

#actuator_0_0 {
    background-image: url("svg_icon/actuator_0_0.svg");
}

#actuator_0_1 {
    background-image: url("svg_icon/actuator_0_1.svg");
}

#actuator_1_0 {
    background-image: url("svg_icon/actuator_1_0.svg");
}

#actuator_1_1 {
    background-image: url("svg_icon/actuator_1_1.svg");
}

#actuator_2_0 {
    background-image: url("svg_icon/actuator_2_0.svg");
}

#actuator_2_1 {
    background-image: url("svg_icon/actuator_2_1.svg");
}

#actuator_3_0 {
    background-image: url("svg_icon/actuator_3_0.svg");
}

#actuator_3_1 {
    background-image: url("svg_icon/actuator_3_1.svg");
}

#actuator_4_0 {
    background-image: url("svg_icon/actuator_4_0.svg");
}

#actuator_4_1 {
    background-image: url("svg_icon/actuator_4_1.svg");
}

#actuator_5_0 {
    background-image: url("svg_icon/actuator_5_0.svg");
}

#actuator_5_1 {
    background-image: url("svg_icon/actuator_5_1.svg");
}

#actuator {
    background-image: url("svg_icon/actuator.svg");
}

#button_wheelchair {
    background-image: url("svg_icon/button_wheelchair.svg");
}

#button_horn {
    background-image: url("svg_icon/button_horn.svg");
}

#button_light {
    background-image: url("svg_icon/button_light.svg");
}

#button_speed {
    background-image: url("svg_icon/button_speed.svg");
}

#button_drive_mode {
    background-image: url("svg_icon/button_drive_mode.svg");
}

#button_drive_mode.on {
    background-image: url("svg_icon/button_drive_mode_on.svg");
}

#button_back, #button_back_index, #button_back_ir {
    background-image: url("svg_icon/button_back.svg");
}

#TV {
    background-image: url("svg_icon/TV.svg");
}

#TV_A {
    background-image: url("svg_icon/TV_A.svg");
}

#TV_power, #TV_A_0 {
    background-image: url("svg_icon/button_power.svg");
}

#TV_0, #TV_A_14 {
    background-image: url("svg_icon/button_0.svg");
}

#TV_1, #TV_A_1 {
    background-image: url("svg_icon/button_1.svg");
}

#TV_2, #TV_A_2 {
    background-image: url("svg_icon/button_2.svg");
}

#TV_3, #TV_A_3 {
    background-image: url("svg_icon/button_3.svg");
}

#TV_4, #TV_A_5 {
    background-image: url("svg_icon/button_4.svg");
}

#TV_5, #TV_A_6 {
    background-image: url("svg_icon/button_5.svg");
}

#TV_6, #TV_A_7 {
    background-image: url("svg_icon/button_6.svg");
}

#TV_7, #TV_A_9 {
    background-image: url("svg_icon/button_7.svg");
}

#TV_8, #TV_A_10 {
    background-image: url("svg_icon/button_8.svg");
}

#TV_9, #TV_A_11 {
    background-image: url("svg_icon/button_9.svg");
}

#TV_mute, #TV_A_4 {
    background-image: url("svg_icon/mute.svg");
}

#TV_volume_up, #TV_A_8 {
    background-image: url("svg_icon/olume_up.svg");
}

#TV_volume_down, #TV_A_12 {
    background-image: url("svg_icon/volume_down.svg");
}

#TV_left, #TV_A_16 {
    background-image: url("svg_icon/left.svg");
}

#TV_down, #TV_A_21 {
    background-image: url("svg_icon/down.svg");
}

#TV_right, #TV_A_18 {
    background-image: url("svg_icon/right.svg");
}

#TV_up, #TV_A_13 {
    background-image: url("svg_icon/up.svg");
}

#TV_ok, #TV_A_17 {
    background-image: url("svg_icon/ok.svg");
}

#TV_exit, #TV_A_27 {
    background-image: url("svg_icon/TV_exit.svg");
}

#TV_home, #TV_A_22 {
    background-image: url("svg_icon/TV_home.svg");
}

#TV_info, #TV_A_20 {
    background-image: url("svg_icon/TV_info.svg");
}

#TV_menu, #TV_A_24 {
    background-image: url("svg_icon/TV_menu.svg");
}

#TV_return, #TV_A_26 {
    background-image: url("svg_icon/TV_return.svg");
}

#TV_source, #TV_A_23 {
    background-image: url("svg_icon/TV_source.svg");
}

#TV_tools, #TV_A_25 {
    background-image: url("svg_icon/TV_tools.svg");
}

#TV_A_0.no , #TV_A_1.no, #TV_A_2.no, #TV_A_3.no, #TV_A_4.no, #TV_A_5.no, #TV_A_6.no, #TV_A_7.no, #TV_A_8.no, #TV_A_9.no, 
#TV_A_10.no, #TV_A_11.no, #TV_A_12.no, #TV_A_13.no, #TV_A_14.no, #TV_A_15.no, #TV_A_16.no, #TV_A_17.no, #TV_A_18.no, #TV_A_19.no, 
#TV_A_20.no, #TV_A_21.no, #TV_A_22.no, #TV_A_23.no, #TV_A_24.no, #TV_A_25.no, #TV_A_26.no, #TV_A_27.no {
    background-color: #FF0000;
} 

#A {
    background-image: url("svg_icon/A.svg");
}

#current_speed {
    background: none;
    font-size: 30px;
}

#max_speed,
#current_jack {
    background: none;
}

.bargraph {
    display: inline-block;
    width: 15%;
    height: 25%;
    border: white solid 2px;
    background-color: transparent;
    top: 35%;
    box-sizing: border-box;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#light_1.on, #light_2.on, #power.on{
    color: #00FF00;
}

#light_3.on, #light_5.on {
    color: #FF6600;
}

#light_4.on {
    color: #FFFF00;
}


#lvl1.on {
    background-color: #00FF00;
}

#lvl2.on {
    background-color: #88FF00;
}

#lvl3.on {
    background-color: #FFFF00;
}

#lvl4.on {
    background-color: #FF8800;
}

#lvl5.on {
    background-color: #FF0000;
}


.icon {
    background: url("svg_icon/button_default.svg") no-repeat center;
    background-size: contain;
}

.svg {
    background: no-repeat center;
    background-size: contain;
}