:root {
    --header-height: 10vh; /* 10% de la hauteur pour le header */
    --border-width: 10px;
    --icon-size: min(18vmin, 100px);
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#222;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    color: #EEE;
    height:100vh;
    width:100vw;
    margin:0px;
}

.header {
    width: 100%;
    height: var(--header-height);
}

#time, #battery {
    color: white;
    font-size: calc(var(--header-height)/2);
    line-height: calc(var(--header-height)/2);
    position: absolute;
}

.working > div {
    text-align: center;
    display: inline-table;
    box-sizing: border-box;
    border: transparent solid 2px;
    height: 100%;
    width: 10vw;
}

.working {
    top : calc(var(--header-height)/2);
    width: 100%;
    height: calc(var(--header-height)/2);
    position: absolute;
    font-size: calc(0.65*var(--header-height)/2);
    display: flex;
    justify-content: center;
}

#time {
    left: 10px;
}

#battery {
    right: 10px;
}

div.body {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: calc(100% - var(--header-height));
    box-sizing: border-box;
    border: transparent solid var(--border-width);
    font-size: 0px;
}

div.body > div {
    width: 100%;
    height: 95%;
}

div.body > div > div {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border: transparent solid var(--border-width); 

    width: 50%;
    height: 90%;
}

div.body > div > div > i {
    position: relative;
    font-size: var(--icon-size);
    top: 50%;
    margin-top: calc(var(--icon-size) / -2)
}

.spacer {
    color: transparent;
}

div.body.main > div {
    height: calc(100% / 4);
}

div.body.main > div > div {
    width: 100%;
}

div.body.wheelchair > div {
    height: calc(100% / 5);
}

div.body.actuator > div {
    height: calc(100% / 7);
}

div.body.light > div {
    height: calc(100% / 4);
}

#actuator_0_0 {
    background-image: url("actuator_0_0.svg");
}

#actuator_0_1 {
    background-image: url("actuator_0_1.svg");
}

#actuator_1_0 {
    background-image: url("actuator_1_0.svg");
}

#actuator_1_1 {
    background-image: url("actuator_1_1.svg");
}

#actuator_2_0 {
    background-image: url("actuator_2_0.svg");
}

#actuator_2_1 {
    background-image: url("actuator_2_1.svg");
}

#actuator_3_0 {
    background-image: url("actuator_3_0.svg");
}

#actuator_3_1 {
    background-image: url("actuator_3_1.svg");
}

#actuator_4_0 {
    background-image: url("actuator_4_0.svg");
}

#actuator_4_1 {
    background-image: url("actuator_4_1.svg");
}

#actuator_5_0 {
    background-image: url("actuator_5_0.svg");
}

#actuator_5_1 {
    background-image: url("actuator_5_1.svg");
}

#actuator {
    background-image: url("actuator.svg");
}

#button_wheelchair {
    background-image: url("button_wheelchair.svg");
}

#button_horn {
    background-image: url("button_horn.svg");
}

#button_light {
    background-image: url("button_light.svg");
}

#button_speed {
    background-image: url("button_speed.svg");
}

#button_drive_mode {
    background-image: url("button_drive_mode.svg");
}

#button_back {
    background-image: url("button_back.svg");
}

#button_back_index {
    background-image: url("button_back.svg");
}

#current_speed {
    background: none;
    font-size: 30px;
}

#max_speed,
#current_jack {
    background: none;
}

.bargraph {
    display: inline-block;
    width: 15%;
    height: 25%;
    border: white solid 2px;
    background-color: transparent;
    top: 35%;
    box-sizing: border-box;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#light_1.on {
    color: #00FF00;
}

#light_2.on {
    color: #00FF00;
}

#light_3.on {
    color: #FF6600;
}

#light_4.on {
    color: #FFFF00;
}

#light_5.on {
    color: #FF6600;
}

#power.on {
    color: #00FF00;
}



#lvl1.on {
    background-color: #00FF00;
}

#lvl2.on {
    background-color: #88FF00;
}

#lvl3.on {
    background-color: #FFFF00;
}

#lvl4.on {
    background-color: #FF8800;
}

#lvl5.on {
    background-color: #FF0000;
}


.icon {
    background: url("button_default.svg") no-repeat center;
    background-size: contain;
}

.svg {
    background: no-repeat center;
    background-size: contain;
}