:root {
    --header-height: 5vh;
    --border-width: 20px;
    --icon-size: 70px;
}


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#222;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    color: #EEE;
    height:100vh;
    width:100vw;

    margin:0px;
    padding:0px;
    border: none;
}

.header {
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    width: 100%;
    height: var(--header-height);
    padding: 0px;
    margin: 0px;
}

#time, #battery {
    color: white;
    font-size: var(--header-height);
    line-height: var(--header-height);
    position: absolute;
}

#time {
    left: 10px;
}

#battery {
    right: 10px;
}

div.body {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: calc(100% - var(--header-height));
    box-sizing: border-box;
    border: transparent solid var(--border-width);
    font-size: 0px;
}

div.body > div {
    width: 100%;
}

div.body > div > div {
    display: inline-block;

    padding: 0px;
    margin: 0px;

    text-align: center;

    box-sizing: border-box;
    border: transparent solid var(--border-width);
    
    background: url("button_default.png") no-repeat center;
    background-size: contain;
}

div.body > div > div > i {
    position: relative;
    font-size: var(--icon-size);
    top: 50%;
    margin-top: calc(var(--icon-size) / -2)
}

.spacer {
    color: transparent;
}

div.body.main > div {
    height: calc(100% / 4);
}

div.body.main > div > div {
    width: 100%;
    height: 100%;
}

div.body.wheelchair > div {
    height: calc(100% / 5);
}

div.body.wheelchair > div > div {
    width: 50%;
    height: 100%;
}

div.body.actuator {
    width: 100%;
    height: 95%;
}

div.body.actuator > div {
    height: calc(100% / 7);
}

div.body.actuator > div > div {
    width: 50%;
    height: 100%;
}

#actuator_0_0 {
    background-image: url("actuator_0_0.svg");
}

#actuator_0_1 {
    background-image: url("actuator_0_1.svg");
}

#actuator_1_0 {
    background-image: url("actuator_1_0.svg");
}

#actuator_1_1 {
    background-image: url("actuator_1_1.svg");
}

#actuator_2_0 {
    background-image: url("actuator_2_0.svg");
}

#actuator_2_1 {
    background-image: url("actuator_2_1.svg");
}

#actuator_3_0 {
    background-image: url("actuator_3_0.svg");
}

#actuator_3_1 {
    background-image: url("actuator_3_1.svg");
}

#actuator_4_0 {
    background-image: url("actuator_4_0.svg");
}

#actuator_4_1 {
    background-image: url("actuator_4_1.svg");
}

#actuator_5_0 {
    background-image: url("actuator_5_0.svg");
}

#actuator_5_1 {
    background-image: url("actuator_5_1.svg");
}

#actuator {
    background-image: url("actuator.svg");
}

#wheelchair {
    background-image: url("button_wheelchair.png");
}

#current_speed {
    background: none;
    font-size: 30px;
}

#max_speed,
#current_jack {
    background: none;
}

.bargraph {
    display: inline-block;
    width: 15%;
    height: 25%;
    border: white solid 2px;
    background-color: transparent;
    top: 35%;
    box-sizing: border-box;
    position: relative;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#light.on {
    color: #FFFF00;
}

#power.on {
    color: #00FF00;
}

#lvl1.on {
    background-color: #00FF00;
}

#lvl2.on {
    background-color: #88FF00;
}

#lvl3.on {
    background-color: #FFFF00;
}

#lvl4.on {
    background-color: #FF8800;
}

#lvl5.on {
    background-color: #FF0000;
}
